.wf {
    /* outline: 1px solid black; */
}

.rw1 {
    /* outline: 1px solid black; */
    height: 70vh;
}

.rw2 {
    outline: 1px solid black;
    min-height: 30vh;
    margin-top: 0px;
    padding: 0;
    display: flex;
}

.wf2 {
    outline: 1px solid black;
    padding: 0;
}

.container-fluid {
    max-height: 100vh;
}

/* Image Stream */
.gallery {
    width: 250px;
    height: 70vh;
    border: 1px solid black;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    overflow-y:auto;
}

img {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin: 10px auto;
}

/* Table */
table {
    border: 1px solid black;
    height: 29vh;
    margin-left: 0;
    padding: 0;
    text-align: center;
    overflow-x: auto;
    font-family: 'Kumbh Sans', sans-serif;
}

.bar {
    border: 1px solid black;
}

.lineContainer {
    /* border: 1px solid black; */
    padding-top: 10px;
    height: 100vh;
}

.line {
    height: 33vh;
}

table th {
    padding: 4px;
}

.videoContainer {
    border: 1px solid black;
    padding: 0;
    height: 70vh;
}

html * {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
}
