.wf {
    /* outline: 1px solid black; */
}

.rw1 {
    /* outline: 1px solid black; */
    height: 65vh;
    max-width: 100vw;
}

.rw2 {
    /* outline: 1px solid black; */
    min-height: 35vh;
    margin-top: 0px;
    padding: 0;
    display: flex;
}

.wf2 {
    /* outline: 1px solid black; */
    padding: 0;
}

.container-fluid {
    /* max-height: 100vh; */
}

/* Image Stream */
.imageContainer {
    overflow-y: scroll;
    height: 65vh;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    border-bottom: 1px solid #1d4547;
    /* border-bottom: 1px solid #55cad369; */

    /* Scroll bar on Firefox */
    scrollbar-color: #55cbd3 #393939;
    scroll-behavior: smooth;
    scrollbar-arrow-color: transparent;
    scrollbar-width: thin;

    
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.imgTitle {
    color: white;
    border-bottom: 1px solid #55cbd3;
}

.photo {
    padding: 5px;
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin: 10px auto;

    
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

/* Table */
.tableContainer {
    display: block;
    height: 35vh;
    margin-left: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    border-right: 1px solid #1d4547;

    background-color: rgb(46, 46, 46);
    color: rgb(48, 47, 47);
    overflow: auto;
    overflow-x: auto;
    
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);

    /* Scroll bar on Firefox */
    scrollbar-color: #55cbd3 #393939;
    scroll-behavior: smooth;
    scrollbar-arrow-color: transparent;
    scrollbar-width: thin;
}

.tableContainer th {
    padding: 4px;
    padding-top: 10px;
    background-color:  rgb(46, 46, 46);
    color: #55cbd3;
    font-size: 14px;
    line-height: 1.4;
    border-bottom: 1px solid #55cbd3;
    font-weight: 600;
}

.tableContainer td {
    padding: 20px;
    font-size: 15px;
    color: #999999;
    line-height: 1.4;
    background-color: #222222;
    border-bottom: 1px solid #1d4547;

}

tr:hover td {
    background-color: #55cad310;
    cursor: pointer;
}

/*----------------------------------------------------------------*/
.bar {
    /* border: 1px solid black; */
    height: 35vh;

    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.lineContainer {
    /* border: 1px solid black; */
    /* padding-top: 10px; */
    height: 100vh;
    border-left: 1px solid #1d4547;
    /* border-left: 1px solid #55cad369; */
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

/* -----------------------------line-graph------------------------ */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    /* background-color: rgb(100, 210, 218); */
    background-color: rgb(46, 46, 46);
    border-color:  rgb(46, 46, 46);
    border-bottom: 1px solid #55cbd3;

    
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.35);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.35);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.35);
}

.nav-tabs .nav-link:not(.active) {
    color: rgba(255, 255, 255, 0.432);
}

.nav-tabs {
    border-bottom: none;
    font-size: 12px;
    /* color: white; */
}

.nav-tabs .nav-link:hover{
    background-color: rgba(201, 224, 201, 0.322);
}
/* ------------------------------------------------------------------------ */
#controlled-tab-example {
    /* background-color: rgb(46, 46, 46); */
}

.videoContainer {
    text-align: center;
    overflow-y: hidden;
    padding: 0;
    height: 65vh;
    border-bottom: 1px solid #1d4547;
}


main {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: rgb(46, 46, 46);
    color: aqua;
}

.empty {
    display: none;
}

.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgb(97, 105, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: rgb(227, 242, 255);
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}

.group-text {
    font-family: 'Cutive Mono', monospace;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 90%;
    left: 45%;
}

/*  intro buttons */
.buttonContainer {
    display: flex;
    width: 100%;
    box-shadow: var(--shadow) 4px 4px;
}

.buttonContainer button {
    flex-grow: 1;
    cursor: pointer;
    position: relative;
    padding:
      calc(var(--space) / 1.125)
      var(--space)
      var(--space);
    border: var(--border-size) solid black;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: 1.5rem;
    font-family: var(--font-family);
    text-transform: lowercase;
    text-shadow: var(--shadow) 2px 2px;
    transition: flex-grow var(--duration) var(--ease);
}
  
.buttonContainer button + button {
    border-left: var(--border-size) solid black;
    margin-left: calc(var(--border-size) * -1);
}
  
.buttonContainer button:hover,
.buttonContainer button:focus {
    flex-grow: 2;
    color: black;

    outline: none;
    text-shadow: none;
    background-color: var(--color-secondary);
}
  
.buttonContainer button:focus {
    outline: var(--border-size) dashed var(--color-primary);
    outline-offset: calc(var(--border-size) * -3);
}
  
.buttonContainer:hover button:focus:not(:hover) {
    flex-grow: 1;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    outline-color: var(--color-tertiary);
}
  
.buttonContainer button:active {
    transform: translateY(var(--border-size));
}

:root {
    --border-size: 0.125rem;
    --duration: 250ms;
    --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
    --font-family: monospace;
    --color-primary: black;
    --color-secondary: white;
    --color-tertiary: dodgerblue;
    --shadow: rgba(0, 0, 0, 0.1);
    --space: 1rem;
}
/* ------------------------------------------------------------ */